/* keep your token override */
.wide-tip.p-tooltip {
  --p-tooltip-max-width: 500px !important;
}

.wide-tip .p-tooltip-text {
  max-width: 500px !important;
  white-space: normal;
  word-break: break-word;
}


.p-tablist-nav-button { box-shadow: 0px 0px 10px 20px rgba(255, 255, 255, 0.6) !important;}
.p-tablist { overflow: unset !important;}

.search_highlight {box-shadow: 0 0 10px 2px yellow;
}
